<div id="course-form">
	<div class="ui centered form segment">
		<h2 class="ui center aligned header"> New Section</h2>
		<br/>
		<%= render partial: "form", locals: {course: @course, section: @section} %>
	</div>
</div>