<div class="ui center aligned section segment">
	<div class="ui huge center aligned header"><%= @section.title %></div>
	<br/>
	<hr/>
	<div class="ui header">Objectives:</div>
	<div><%= @section.context %></div>
	<br/>
	<div class="ui inline header">Duration:</div>
	<div><%= @section.days_required %> Days</div>
</div>