<div id="course-form">
	<div class="ui centered form segment">
		<h2 class="ui center aligned header"> Edit Course</h2>
		<br/>
		<%= render partial: "form", locals: {course: @course} %>
	</div>
</div>