/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body, a{
	color: #747e86 !important;
}

.ui.header{
	color: #33496A;
}

.ui.inline.header{
	display: inline-block;
}

.ui.basic.orange.button:hover{
	background: #f26202;
	color: white;
}

.ui.placeholder.segment .column textarea{
	margin: 0 !important;
	max-width: initial !important;
	width: 100% !important;
	height: 120px;
}

nav{
	background: #253E7E;
	padding: 30px 60px;

	.ui.header {
		color: white;
		display: inline-block;
		font-family: 'Yeseva One', serif;
	}
}

#main{
	padding: 5% 8%;
	position: relative;
}

#course-index {
	.ui.button {
		position: absolute;
		top: 60px;
		right: 8%;
	}
}

#course-form{
	padding: 0 10%;
	.form.segment{
		padding: 5% 15% 10%;

		.number-field{
			width: 80px;
			margin-left: 10px;
			margin-top: -8px;
		}

		.right-aligned{
			display: block;
			text-align: right;
		}
	}
}

.error{
	color: #B00100;
}

#courses{
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	text-align: left;
}

.course.card{
	margin: 0 30px 50px !important;
	width: 320px !important;

	.image{
		width: 100%;
		height: 200px;
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}

	.content{
		height: 90px;
		overflow: clip;
	}

	.ui.header{
		padding: 6% 8%;
		margin-bottom: 0;
	}

	.extra{
		text-align: right;
	}
}

.course.segment{
	padding: 50px 80px;

	hr{
		border: none;
		height: 1px;
		background: linear-gradient(90deg, white, #253E7E, white);
	}

	.huge.header{
		color: #f26202;
	}

	.vertical.menu{
		position: absolute;
		right: 0;
		top: 0;
	}

	.container{
		position: relative;

		.header{
			margin-bottom: 50px;
		}
	}

	.active.step .content{
		width: 70px;
		color: #f26202;
	}

	.step .content{
		.title{
			width: 100px;
		}

		.description{
			width: 300px;
		}
	}

	.orange.button{
		position: absolute;
		top: 0;
		right: 0;
	}
}

.section-flex{
	display: flex;
	justify-content: center;
	align-items: baseline;

	.icon.menu{
		margin-left: 30px !important;

		.item{
			border: none !important;
		}
	}
}

.daily-reports{
	padding: 2% 10%;

	.report.segment{
		padding: 2% 5%;
		margin-bottom: 50px;
		position: relative;

		.header{
			margin-top: 0;
		}

		.status{
			position: absolute;
			right: 5%;
			top: 10%;
		}

		.icon.menu{
			width: max-content;
			position: absolute;
			right: 5%;
			bottom: 10%;
		}

		.progress{
			width: 80%;
		}
	}
}

.middle.aligned{

	label{
		position: relative;
		top: 7px;
	}

	.url-field{
		width: 70% !important;
		display: inline-block;
	}
}