/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Urbanist:wght@600&display=swap');

body, a {
	color: #747e86 !important;
}

.ui.header {
	color: #33496A;
}

.ui.inline.header {
	display: inline-block;
}

.ui.basic.orange.button:hover {
	background: #f26202;
	color: white;
}

.ui.placeholder.segment .column textarea {
	margin: 0 !important;
	max-width: initial !important;
	width: 100% !important;
	height: 120px;
}

.ui.message {
	width: max-content;
	margin: auto;

	.close.icon {
		position: relative;
		top: initial;
		right: initial;
		left: 10px;
	}
}

.ui.mini.image{
	margin: 10px 5px;
}

.ui.placeholder .image:not(:first-child)::before, .ui.placeholder .paragraph:not(:first-child)::before, .ui.placeholder .header:not(:first-child)::before {
	height: 1em !important;
}


.username{
	margin-bottom: 15px;
}

.placeholder.segment .username{
	margin-bottom: 0;
}

nav.ui.menu {
	background: #253E7E !important;
	padding: 20px 60px !important;
	border-radius: 0 !important;
	font-family: 'Tilt Warp', cursive !important;

	.tab.item{
		color: white !important;
		font-size: 1.2em;

		&.email{
			font-family: "Helvetica Neue", Helvetica, sans-serif;
			padding: 0 1em !important;
		}
	}

	.ui.header {
		color: white;
		display: inline-block;
		font-family: 'Urbanist', sans-serif;
	}

	img.logo {
		width: 48px !important;
		margin: 0 !important;
	}

	.right.menu {
		.item {
			color: white !important;
			font-size: 1.2em;
		}

		.sign-up {
			color: white !important;
			border: 1px solid white;
			margin-left: 1em;

			&:hover {
				background: white;
				color: #253E7E !important;
			}
		}
	}
}

#main {
	padding: 5% 8%;
	position: relative;
}

#course-index {

	.floating-fields{
		position: absolute;
		top: 60px;
		right: 8%;
	}
}

#course-form {
	padding: 0 10%;

	.form.segment {
		padding: 5% 15% 10%;

		.number-field {
			width: 80px;
			margin-left: 10px;
			margin-top: -8px;
		}

		.right-aligned {
			display: block;
			text-align: right;
		}
	}
}

.search-form{
	display: inline !important;
	margin-right: 24px !important;
}

.error {
	color: #B00100;
}

#courses {
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	text-align: left;
}

.course.card {
	margin: 0 30px 50px !important;
	width: 320px !important;

	.image {
		width: 100%;
		height: 200px;
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}

	.content {
		height: 90px;
		overflow: clip;
	}

	.ui.header {
		padding: 6% 8%;
		margin-bottom: 0;
	}

	.extra {
		text-align: right;
	}
}

.course.segment {
	padding: 50px 80px;

	hr {
		border: none;
		height: 1px;
		background: linear-gradient(90deg, white, #253E7E, white);
	}

	.huge.header {
		color: #f26202;
	}

	.vertical.menu {
		position: absolute;
		right: 0;
		top: 0;
	}

	.container {
		position: relative;

		.header {
			margin-bottom: 50px;
		}
	}

	.active.step .content {
		width: 70px;
		color: #f26202;
	}

	.step .content {
		.title {
			width: 100px;
		}

		.description {
			width: 300px;
		}
	}

	.orange.button {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.section-flex {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 1rem;

	.icon.menu {
		margin-top: 0 !important;
		margin-left: 30px !important;

		.item {
			border: none !important;
		}
	}
}

.daily-reports {
	padding: 2% 10%;

	.report.segment {
		overflow: hidden;
		margin-bottom: 50px;
		position: relative;
		padding: 0 !important;

		.content{
			padding: 2% 5%;
		}

		.username{
			padding: 1% 2%;
			background: #f9fafb;
			border-bottom: 1px solid #d9dadb;
			position: relative;
		}

		.header {
			margin-top: 0;
		}

		.status {
			display: inline-block;
			position: absolute;
			right: 3%;
			top: 50%;
			transform: translateY(-50%);
		}

		.icon.menu {
			width: max-content;
			position: absolute;
			right: 5%;
			bottom: 10%;
		}

		.progress {
			width: 80%;
		}

		a{
			color: #253E7E !important;

			&.orange{
				color: #f26202 !important;
			}
		}
	}
}


.profile.daily-reports .report.segment {

	.ui.inline.header {
		display: inline !important;
	}
}


.middle.aligned {

	label {
		position: relative;
		top: 7px;
	}

	.url-field {
		width: 70% !important;
		display: inline-block;
	}
}

.form.container {
	display: grid;
	place-items: center;
}

.ui.placeholder.segment .field {
	max-width: 25rem;
}

.auth-form {
	width: 60%;
	margin: auto;
	padding-bottom: 40px !important;

	.header {
		margin-top: 20px;
		padding: 15px;
	}

	hr {
		width: 80%;
		border: none;
		height: 1px;
		background: linear-gradient(90deg, white, #f26202, white);
		margin-bottom: 30px;
	}

	.ui.form {
		.field {
			label {
				display: inline-block;
				font-size: 1em;
			}
		}

		.field.actions {
			display: flex;
			flex-direction: row-reverse;

			.ui.button {
				margin: 0 !important;
			}
		}
	}

	.checkbox {
		position: relative;
		top: 3px;
	}

	.link a {
		color: #253E7E !important;
		font-size: 1em;
	}
}

.account.segment {
	padding: 5% 20% !important;
}

.ui.tabular.menu{
	.active.item{
		color: #f26202 !important;
	}
}

#reviews{
	padding: 5% 10%;
}

.review.segment{
	margin-bottom: 50px;

	h4{
		margin-top: 0 !important;
	}

	.icon.menu {
		width: max-content;
		position: absolute;
		right: 5%;
		bottom: 10%;
	}
}