<div id="course-form">
	<div class="ui centered form segment">
		<h2 class="ui center aligned header">Give feedback</h2>
		<br/>
		<%= render partial: "progress_form", locals: {review: review} %>
	</div>
</div>