<div id="course-form">
	<div class="ui centered form segment">
		<h2 class="ui center aligned header"> Edit Review</h2>
		<br/>
		<%= render partial: "form", locals: {course_report: @course_report, review: @review } %>
	</div>
</div>