<div id="course-form">
	<div class="ui centered form segment">
		<h2 class="ui center aligned header">Give feedback</h2>
		<br/>
		<%= render partial: "feedback_form", locals: {daily_report: @daily_report} %>
	</div>
</div>